/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#545454 5%, #2a2a2a, #151515);
}
